body{
  background-color: bisque;
}

 .navbar {
      position: sticky;  /* Makes the navbar stick */
      top: 0;            /* Stick to top */
      width: 100%;
     background-color: azure;
      display: flex;
     
      padding: 10px 30px ;
      z-index: 1000;    /* Stay above other content */
    }
  .navbar a {
     
      padding: 10px 20px;
      margin: 0 5px;

    }

      footer {
      background-color: pink;
      color: white;
      text-align: center;
      padding: 20px 10px;
      margin-top: auto; /* Stick footer at bottom */
    }
